<!DOCTYPE html>
<html lang="en" ng-app="fetchApp">
<head>
  <meta charset="UTF-8">
  <title>Fetch NG Exercise</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="app.js" type="text/javascript" charset="utf-8"></script>
<script src="RequestFactory.js" type="text/javascript" charset="utf-8"></script>
<script src="RequestService.js" type="text/javascript" charset="utf-8"></script>
<script src="mainCtrl.js" type="text/javascript" charset="utf-8"></script>
</head>

<body ng-controller="MainController">
<div class="row">
  <div class="sixteen columns">
        <div class="six columns offset-by-three">
            <div class="row">
                <input type="text" ng-model="url">
                <select ng-model="method" ng-model="methods">
                    <option value="GET">GET</option> 
                    <option value="POST">POST</option>
                    <option value="OPTIONS">OPTIONS</option>
                    <option value="HEAD">HEAD</option>
                </select>
                  <button ng-click="fetch()">FETCH!</button>
                  </div>
<!--                    <form ng-show="userposting">Sup</form>
 -->                  <table ng-show="!userposting">
                      <tr>
                        <th>Status Code</th>
                        <th>URL</th>
                        <th>HTTP Method</th>
                        <th>Response Time</th>
                        <th>Content Size</th>
                      </tr>
                      <tr ng-repeat="response in responses">
                        <td>{{response.statusCode}}</td>
                        <td>{{response.urlName}}</td>
                        <td>{{response.methodName}}</td>
                        <td>{{response.responseTime}}</td>
                        <td>{{""}}</td>
                      </tr>
                  </table>

            </div>
        </div>
    </div>
</html>